.nav-bar {
  display: flex;
  background-color: #2b2d33;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 2.75%;
}

.dash-name {
  color: #fff;
  font-weight: 500;
  font-style: "Poppins";
  font-size: 24px;
  margin-right: 3rem;
}

.underline {
  width: 1rem;
  margin: auto;
  border-bottom: 3.5px solid #3f86f0;
  padding-bottom: 7px;
}

.nav-left {
  display: flex;
  align-items: center;
  position: absolute;
  left: 23%;
}

.nav-left li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.nav-link,
.nav-left span {
  text-decoration: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.9;
  font-style: "Poppins";
  font-weight: 500;
}

.nav-link:hover {
  filter: brightness(90%);
}

.filter-btn {
  background-color: #3273f1;
  width: 6.25rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #fff;
  position: relative;
  padding-left: 25px;
}

.filter-btn:hover {
  filter: brightness(90%);
}

.plus {
  font-size: 35px;
  color: #fff;
  position: absolute;
  bottom: -5.5px;
  left: 12px;
}

@media (max-width: 1250px) {
  .nav-left {
    left: 35%;
  }
}

@media (max-width: 780px) {
  .dash-name {
    font-size: 22px;
  }

  .nav-left {
    left: 40%;
  }

  .nav-link,
  .nav-left span {
    font-size: 14px;
  }

  .filter-btn {
    width: 5rem;
    height: 1.5rem;
    font-size: 14px;
  }

  .plus {
    font-size: 23px;
  }
}

@media (max-width: 630px) {
  .nav-bar {
    padding: 3% 5%;
    padding-bottom: 8%;
  }

  .nav-left {
    position: absolute;
    top: 6%;
    left: 5.1%;
  }

  .dash-name {
    font-size: 17px;
  }

  .nav-link,
  .nav-left span {
    font-size: 12px;
  }

  .filter-btn {
    margin-top: 15%;
  }
}
